html {
	font-family: sans-serif;
	line-height: 1.5;
}

body {
	margin: 1.5rem max(1.5rem, (100vw - 65ch) / 2);
}

@media (prefers-color-scheme: dark) {
	:where(html) {
		color: white;
		background-color: #212121;
	}
}
